@tailwind base;
@tailwind components;
@import '../components/Button/styles.css';

@tailwind utilities;

html {
  font-size: 16px;
}

.row-start-start {
  @apply flex flex-row justify-start items-start;
}

.col-start-start {
  @apply flex flex-col justify-start items-start;
}

.input-error-state {
  border: 1px solid rgb(217, 58, 58);
}

.input-error-state:focus-visible {
  outline: none;
  border: 1px solid rgb(217, 58, 58);
}
